{# empty Twig template #}
<div class="header-section">
    <!--menu-right-->
    <div class="top_menu">
        <!--/profile_details-->
        <div class="profile_details_left">
            <ul class="nofitications-dropdown">
                <li class="dropdown note">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i></a>

                        <ul class="dropdown-menu two first">
                            <li>
                                <div class="notification_header">
                                        <h3>Aucun message est trouvé  </h3> 
                                </div>
                            </li>
                        </ul>
                </li>

                <li class="dropdown note">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i></a>

                    <ul class="dropdown-menu two">
                        <li>
                            <div class="notification_header">
                                <h3>Aucune notification est trouvée</h3>
                            </div>
                        </li>

                    </ul>
                </li>	
                <li class="dropdown note">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i></a>
                    <ul class="dropdown-menu two">
                        <li>
                           <div class="notification_header">
                                   <h3>Aucune tâche à réaliser</h3>
                           </div>
                        </li>
                    </ul>
                </li>		   							   		
                <div class="clearfix"></div>	
            </ul>
        </div>
        <div class="clearfix"></div>	
        <!--//profile_details-->
    </div>
    <!--//menu-right-->
    <div class="clearfix"></div>
</div>