<div class="sidebar-menu">
        <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href=""> <span id="logo"> <h1>E-Vitrine</h1></span> 
                <!--<img id="logo" src="" alt="Logo"/>--> 
          </a> 
        </header>
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <!--/down-->
       <div class="down">	
        <a href=""><img src="{{asset('dashboard/images/admin.jpg')}}"></a>
        <a href=""><span class=" name-caret">{{user.username}}</span></a>
       <p>Administrateur E-Vitrine</p>
      <ul>
      <li><a class="tooltips" href=""><span>Profil</span><i class="lnr lnr-user"></i></a></li>
              <li><a class="tooltips" href=""><span>Paramètres</span><i class="lnr lnr-cog"></i></a></li>
              <li><a class="tooltips" href=""><span>Déconnexion</span><i class="lnr lnr-power-switch"></i></a></li>
              </ul>
                   </div>
                                                        <!--//down-->
    <div class="menu">
        <ul id="menu" >
            <li><a href=""><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
             <li id="menu-academico" ><a href="#"><i class="fa fa-users"></i> <span> Nos produits</span> <span class="fa fa-angle-right" style="float: right"></span></a>
               <ul id="menu-academico-sub" >
                    <li id="menu-academico-avaliacoes" ><a href=""> Ajouter produit</a></li>
                    <li id="menu-academico-boletim" ><a href="">Liste des produits</a></li>

              </ul>
            </li>     
                      
        </ul>
    </div>
</div>